#div_add, #div_upd, #div_del{
    margin-bottom: 10px;
}
#add_form, #update_form, #delete_form {
    visibility: hidden;
}
#main_table{
    float:left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
}
.container {
    position: relative;
    width: 70%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}